<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>주한미군 전역장병 채용 플랫폼</title>

    <link rel="stylesheet" type="text/css" href="https://fastly.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/sub.css" />
    <link rel="stylesheet" href="/css/datepicker.min.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/datepicker.min.js"></script>
    <script src="/js/datepicker.ko.js"></script>
</head>
<body class="sub">
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="wrapper">
    <div class="sub_container">
        <div class="container">

            <div class="sub_line_tab">
                <a href="/company/mypage">회원정보관리</a>
                <a href="/company/jobs" class="on">채용공고관리</a>
            </div>

            <form name="applForm">
                <div class="join_box company only mb60">
                    <div class="join_form">
                        <div class="item full">
                            <div class="field">
                                <div class="th"><font color="red">*</font>공고명</div>
                                <div class="td">
                                    <input type="text" name="jobTitle" maxlength="500" class="input">
                                </div>
                            </div>
                        </div>
                        <div class="item full">
                            <div class="field">
                                <div class="th"><font color="red">*</font>접수기간</div>
                                <div class="td">
                                    <div class="calendar_box">
                                        <div class="calendar_wrap mw250">
                                            <input type="text" name="startDate" id="START_DATE" class="input">
                                        </div>
                                        <span class="bar">-</span>
                                        <div class="calendar_wrap mw250">
                                            <input type="text" name="endDate" id="END_DATE" class="input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form_line sm"></div>

                    <div class="join_form">
                        <div class="item">
                            <div class="field">
                                <div class="th">직업유형</div>
                                <div class="td"><input type="text" name="jobType" class="input"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="field">
                                <div class="th">고용형태</div>
                                <div class="td"><input type="text" name="employType" class="input"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="field">
                                <div class="th">직종</div>
                                <div class="td"><input type="text" name="jobCategory" class="input"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="field">
                                <div class="th">업계</div>
                                <div class="td"><input type="text" name="industry" class="input"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="field">
                                <div class="th">직급</div>
                                <div class="td"><input type="text" name="jobLevel" class="input"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="field">
                                <div class="th">경력</div>
                                <div class="td"><input type="text" name="career" class="input"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="field">
                                <div class="th">기본급</div>
                                <div class="td"><input type="text" name="salary" class="input"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="field">
                                <div class="th">근무시간</div>
                                <div class="td"><input type="text" name="workTime" class="input"></div>
                            </div>
                        </div>
                        <div class="item full">
                            <div class="field">
                                <div class="th">근무처</div>
                                <div class="td"><input type="text" name="workLocation" class="input"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sub_stit mb30">회사소개</div>
                <div class="mb60"><textarea name="companyIntro" class="textarea_only h200"></textarea></div>

                <div class="sub_stit mb30">담당업무</div>
                <div class="mb60"><textarea name="jobDescription" class="textarea_only h200"></textarea></div>

                <div class="sub_stit mb30">기술 및 자격요건</div>
                <div class="mb60"><textarea name="requirements" class="textarea_only h200"></textarea></div>

                <div class="sub_stit mb30">복지 및 보상</div>
                <div class="mb60"><textarea name="benefits" class="textarea_only h200"></textarea></div>

                <div class="sub_stit mb30">유의사항</div>
                <div class="mb60"><textarea name="notes" class="textarea_only h200"></textarea></div>

                <div class="sub_stit mb30">회사정보</div>
                <div class="join_box company only mb60">
                    <div class="join_form">
                        <div class="item">
                            <div class="field">
                                <div class="th">기업구분</div>
                                <div class="td"><input type="text" name="compType" class="input"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="field">
                                <div class="th">설립일</div>
                                <div class="td"><input type="text" name="foundingDate" class="input"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="field">
                                <div class="th">대표자</div>
                                <div class="td"><input type="text" name="ceoName" class="input"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="field">
                                <div class="th">사원수</div>
                                <div class="td"><input type="text" name="employeeCount" class="input"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="field">
                                <div class="th">자본금</div>
                                <div class="td"><input type="text" name="capital" class="input"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="field">
                                <div class="th">매출액</div>
                                <div class="td"><input type="text" name="sales" class="input"></div>
                            </div>
                        </div>
                        <div class="item full">
                            <div class="field">
                                <div class="th">회사주소(본사)</div>
                                <div class="td"><input type="text" name="companyAddress" class="input"></div>
                            </div>
                        </div>
                        <div class="item full">
                            <div class="field">
                                <div class="th">홈페이지</div>
                                <div class="td"><input type="text" name="homepage" class="input"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn_area center">
                    <a href="javascript:void(0);" class="btn-submit" onclick="saveTemp()">임시저장</a>&nbsp;&nbsp;
                    <a href="javascript:void(0);" class="btn-submit" style="background-color: #ed5904" onclick="submitJob()">공고등록</a>&nbsp;&nbsp;
                    <a href="javascript:void(0);" class="btn-cancel" onclick="goList()">목록가기</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/js/jobs.js" defer></script>
<script src="/js/common.js"></script>
</body>
</html>